.additionally-form__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 0;
  margin: 31px 0 0;
  list-style-type: none;
}

.additionally-form__label {
  display: flex;
  align-items: center;
}

.additionally-form__title {
  padding: 0;
}

.additionally-form__custom-checkbox {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  vertical-align: sub;
  background: #ffffff;
  border: 1px solid #cdcdcd;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    top: 50%;
    left: 50%;
    background-image: url("../img/tick.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
  }
}

.additionally-form__checkbox:checked + .additionally-form__custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

@media (min-width: @tablet-width) {
  .additionally-form__list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 124px;
    row-gap: 31px;
    width: 550px;
    margin-top: 54px;
  }

  .additionally-form__custom-checkbox {
    width: 40px;
    height: 40px;
    margin-right: 20px;

    &::before {
      width: 24px;
      height: 19px;
    }
  }
}

@media (min-width: @desktop-width) {
  .additionally-form__list {
    display: grid;
    grid-template-columns: repeat(4, 243px);
    column-gap: 82px;
    margin-top: 60px;
  }
}
