.comments-form__title {
  padding: 0;
}

.comments-form__field {
  font-family: @fontsOswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 40px;
  padding: 13px 14px 10px;
  color: #444444;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .comments-form__field {
    font-size: 20px;
    margin-top: 88px;
    padding: 18px 20px 30px;
  }
}

@media (min-width: @desktop-width) {
  .comments-form__field {
    margin-top: 80px;
  }
}
