.comments-form__title {
  padding: 0;
}

.comments-form__field {
  font-family: @fontsOswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 38px;
  padding: 14px 14px 15px;
  color: #444444;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .comments-form__field {
    font-size: 20px;
    margin-top: 87px;
    padding: 11px 20px;
  }
}

@media (min-width: @tablet-width) {
  .comments-form__field {
    margin-top: 78px;
  }
}
