.contacts-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 35px;
}

.contacts-form__title {
  padding: 0;
}

@media (min-width: @tablet-width) {
  .contacts-form {
    display: flex;
    flex-direction: column;
  }

  .contacts-form__wrapper {
    margin-top: 76px;
    gap: 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-form {
    flex-direction: row;
    gap: 81px;
  }
}
