.example {
  background-color: #eaeaea;
}

.example__title {
  font-family: @fontsOswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  padding-top: 25px;
  margin: 0;
  color: #000000;
}

.example__description {
  margin: 0;
  margin-top: 40px;
}

.example__container {
  margin-top: 20px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__number {
  font-family: @fontsOswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__number--kilo {
  padding: 14px 42px 17px 42px;
}

.example__number--days {
  padding: 14px 21px 17px 20px;
}

.example__text {
  width: 80px;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  margin-top: -10px;
  text-align: center;
  background-color: #eaeaea;
}

.example__cost {
  display: block;
  font-family: @fontsOswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.example__slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.example__slider-item--after {
  display: none;
}

@media (min-width: @tablet-width) {
  .example {
    background: linear-gradient(#ffffff 60%, #eaeaea 40%);
    border-top: 1px solid #e6e6e6;
  }

  .example__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
  }

  .example__item {
    margin-right: 43px;
  }

  .example__slider {
    padding-bottom: 101px;
  }

  .example__slider-item {
    margin-top: 99px;
    text-align: center;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;

    &--kilo {
      padding: 15px 57px 20px;
    }

    &--days {
      padding: 15px 30px 20px;
    }
  }

  .example__text {
    font-size: 14px;
    line-height: 14px;
    width: 135px;
    background-color: #ffffff;
  }

  .example__cost {
    font-size: 20px;
    line-height: 29px;
    width: 174px;
    margin: 0;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .example__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
