.form__title {
  font-family: @fontsOswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}

.form__description {
  font-family: @fontsOswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
