.form__title {
  font-family: @fontsOswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-top: 29px;
  color: #000000;
}

.form__description {
  font-family: @fontsOswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 226px;
  margin: 0;
  margin-top: 37px;
  text-transform: uppercase;
  color: #000000;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    padding: 51px 40px 60px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }

  .form__description {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-top: 54px;
  }

  .form__buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 521px;
    margin-top: 52px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    padding: 68px 0 79px;
  }

  .form__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    width: 100%;
    margin-top: 59px;
  }
}
