.main-footer {
  background-color: #f2f2f2;
}

.main-footer__link {
  display: block;
  padding: 40px 96px;
}

.main-footer__social {
  padding: 40px 94px;
}

.main-footer__copyright {
  padding: 40px 20px;
}
