.more-product {
  display: flex;
  flex-direction: column;
}

.more-product__wrapper {
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

.more-product__title {
  font-family: @fontsOswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 25px 0 0;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.more-product__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-top: 8px;
  color: #444444;
}

.more-product__image {
  display: block;
  margin: 0 auto;
  fill: #d3d3d3;
}

.more-product__button {
  width: 100%;
  margin-top: 21px;
  color: #444444;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .more-product {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: end;
    min-height: 428px;
    padding: 37px 35px;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    background-image: none;
  }

  .more-product__wrapper {
    padding: 0;
    border: none;
  }

  .more-product__container {
    padding: 0 40px;
  }

  .more-product__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 51px;
  }

  .more-product__description {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }

  .more-product__image {
    width: 60px;
    height: 60px;
  }

  .more-product__button {
    margin-top: 82px;
  }
}

@media (min-width: @desktop-width) {
  .more-product {
    padding: 50px 37px 39px;
    min-height: 423px;
  }

  .more-product__container {
    padding: 0;
  }

  .more-product__title {
    margin-top: 39px;
  }

  .more-product__description {
    margin-top: 26px;
  }

  .more-product__button {
    margin-top: 88px;
  }
}
