.registration-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  margin-top: 39px;
}

.registration-form__value {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .registration-form {
    margin-top: 66px;
  }
}

@media (min-width: @desktop-width) {
  .registration-form {
    width: 100%;
  }
}
